<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="isUserAuthorized" style="display:none">@Html.Raw((string)ViewBag.UserAuthorized ?? "")</div>
    <div id="page" class="site-pagemargin-top">
        <section id="main">
            <div id="applicationHost" class="container"></div>
        </section>
    </div>
    <script src="~/Built/commons.chunk.js"></script>
    <script src="~/Built/vendor.entry.chunk.js"></script>
    <script src="~/Built/startRouter.entry.chunk.js"></script>
    @*@if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmNxg2znkmhynBQgfFqP7fznbycHXiVmc" type="text/javascript"></script>
    }
    else
    {
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANry8wQsbEBLLvb0EsFgGsLOHqiViaPfI" type="text/javascript"></script>
    }*@

</body>
</html>
